# Cluster name (default is fine)
CEPH_CLUSTER=ceph

# RGW S3 endpoint port published on the host
RGW_PORT=8080

# Ceph release + distro codename used to build image/Dockerfile
# (pulled from download.ceph.com/debian-<release>/<codename>/). Check
# https://download.ceph.com/debian-tentacle/dists/ if the build fails to
# find the right codename for the Ceph 20 "Tentacle" release.
CEPH_RELEASE=tentacle
DISTRO_CODENAME=noble
